<app-navbar></app-navbar>

<section class="content">
  <article class="leftbar">
    <div class="space-bar"></div>
    <aside class="thumbnail-container">
      <main class="top-section">
        <div class="item">
          <h3>Watchlist</h3>
        </div>

        <div class="item category">
          <h3>Movies</h3>
          <h3 class="active">Tv</h3>
        </div>

        <div class="item filter">
          <h3>Most Popular</h3>
        </div>

        <div class="item">
          <h3 class="order">A-Z &#8595;</h3>
        </div>
        
        <div class="item box">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>

        <div class="item">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

      </main>
      <main class="thumbnail-grid">
        <app-movie-thumbnail></app-movie-thumbnail>
      </main>
    </aside>
  </article>

  <section class="sidebar"></section>
</section>