<img *ngIf="loading" src='assets/spinner.svg' class="spinner" height='100px' alt='spinner' />

<div class="signup" [class.darken]="loading">
  <form [formGroup]='signupForm' (submit)='onSubmit($event)'>
    <h1>Sign up</h1>
    <input
      type="text"
      placeholder="Username"
      formControlName="username"
      required
    />

    <input
      type="email"
      placeholder="Email"
      formControlName="email"
      required
    />
  
    <input
      type="password"
      minlength="6"
      placeholder="Password"
      formControlName="password"
      required
    />
  
    <button
      class="button"
      [class.darken]="loading"
      type="submit"
    >Sign up</button>
  </form>

  <p class="center pb-4 mg-4">
    <span>Already have an account?&nbsp;</span>
    <a class="active" [routerLink]="['/login']">Log in!</a>
  </p>
</div>